!blueprint_grid_columns = 12
!blueprint_container_size = 960px
!blueprint_grid_margin  = 10px
!blueprint_grid_width   = (!blueprint_container_size + !blueprint_grid_margin) / !blueprint_grid_columns - !blueprint_grid_margin
!red_color = #a50603
!black_color = #020202
!white_color = #fff


@import blueprint
@import compass/reset, compass/utilities
@import blueprint/modules/debug


+blueprint-typography
+blueprint-grid
+blueprint-debug

body
  color= !white_color
  background-color= !black_color

a
  +hover-link
  +link-colors(!white_color, !white_color, !white_color, !white_color, !white_color)

h2
  color= !white_color
  text-align: center

.red
  color= !red_color !important

.upcase
  text-transform: uppercase

#container
  +container
  border-left: solid 1px
  border-right: solid 1px
  &.home
    background-image: url('/images/home-bg.jpg')
    background-repeat: no-repeat
    background-position: left top
  &.contact
    background-image: url('/images/contact-bg.jpg')
    background-repeat: no-repeat
    background-position: left top
  &.gallery
    background-image: url('/images/gallery-bg.jpg')
    background-repeat: no-repeat
    background-position: left top
  &.info
    background-image: url('/images/info-bg.jpg')
    background-repeat: no-repeat
    background-position: left top

#header
  +column(12, true)
  height: 90px
  padding-right= !blueprint_grid_margin
  padding-top= 2* !blueprint_grid_margin
  text-align: right

#nav
  +column(12, true)
  +no-bullets
  +inline-list
  padding-top= 2 * !blueprint_grid_margin
  padding-left= !blueprint_grid_margin
  font-size: 20px
  height: 40px
  ul
    margin: 0
  li
    padding-left= 2 * !blueprint_grid_margin

#logo
  +column(12, true)
  height: 148px
  background-image: url('/images/eyes.jpg')
  background-repeat: no-repeat
  background-position: left top

#content
  padding-top= 4*!blueprint_grid_margin
  +push(1)
  +column(10, true)
  +no-bullets
  font-size: 15px
  min-height: 280px
  //background-image: url('/images/home-bg.jpg')
