%h2.upcase
  Kontakt

.center.bigger
  %dl
    %dd Katarzyna Frychel-Wnętrzak
    %dd GILOWICE
    %dd e-mail: kontakt@kasiafrychel.pl
    %dd tel: 888-769-887
.wihajster
- if @errors
  .errors
    = @errors
%form{:method => "post", :action => "/send", :class => "center"}
  %label{:for => "email_input"} Email:
  %input{:type => "text", :id => 'email_input', :size => 60, :name => "email", :value => params['email']}
  %label{:for => "body_input"} Treść:
  %textarea{:rows => 20, :id => "body_input", :cols => 60, :name => "body"}
    = params['body']
  %input{:type => "submit", :id => "submit_input", :name => "commit", :value => "Wyślij wiadomość"}