%h2.upcase
  Kontakt

.center.bigger
  %dl
    %dd Katarzyna Frychel-Wnętrzak
    %dd GILOWICE
    %dd e-mail: kontakt@kasiafrychel.pl
    %dd tel: 888-769-887
.wihajster
- if @errors
  .errors
    = @errors
%form{:method => "post", :action => "/send", :class => "center"}
  %ul.inputs
    %li
      %label{:for => "email_input"} Twój email:
    %li
      %input{:type => "text", :id => 'email_input', :name => "email", :value => params['email']}
    %li
      %label{:for => "body_input"} Treść wiadomości:
    %li
      %textarea{:rows => 20, :id => "body_input", :name => "body"}
        = params['body']
  %ul.buttons
    %li
      %input{:type => "submit", :id => "submit_input", :name => "commit", :value => "Wyślij wiadomość"}