%h2.upcase
  Kont
  %span.red> akt

.center.bigger
  %ul.no_bullets
    %li Katarzyna Frychel-Wnętrzak
    %li GILOWICE
    %li e-mail: kontakt@kasiafrychel.pl
    %li tel: 888-769-887
.wihajster
- if @errors
  .errors
    = @errors
%form{:method => "post", :action => "/send", :class => "center"}
  %ul.inputs
    %li
      %label{:for => "email_input"}
        Twój email
        %abbr{:class => 'required', :title => "Pole wymagane"}> *
      %input{:type => "text", :id => 'email_input', :name => "email", :value => params['email']}
    %li
      %label{:for => "body_input"}
        Treść wiadomości
        %abbr{:class => 'required', :title => "Pole wymagane"}> *
      %textarea{:rows => 20, :id => "body_input", :name => "body"}
        = params['body']
  %ul.buttons
    %li
      %input{:type => "submit", :id => "submit_input", :name => "commit", :value => "Wyślij wiadomość"}