%h2.upcase
  Galeria
.photos
  - @galleries.each do |gallery|
    .photo
      .member
        %a{:href => "#{gallery[:slideshow]}"}
          %img{:src => gallery[:thumbnail]}
      .member
        = gallery[:title]
