%h2.upcase
  Gale
  %span.red> ria
.photos
  - @galleries.each do |gallery|
    .photo
      .member
        %a{:href => gallery.links[1].href + "#slideshow"}
          %img{:src => gallery.media.thumbnails[0].url}
      .member
        = gallery.title
