%h2
  Witam na stronie -
  %span.red
    kasiafrychel.pl
%dl
  %dd Fotografia ślubna (przygotowania, ślub, wesele oraz plener)
  %dd Zdjęcia noworodków, niemowląt, dzieci (studio, plener)
  %dd Sesje ciążowe
  %dd Sesje narzeczeńskie
  %dd Fotografia portretowa
  %dd Fotografia imprez okolicznościowych (chrzciny, roczki, komunie, itp.)
.wihajster
%dl
  %dd Oferuję profesjonalną obróbkę zdjęć, przystępne ceny oraz krótki czas realizacji.
  %dd Jestem otwarta na wszelkie propozycje oraz sugestie.
