%h2
  Witam na stronie -
  %span.red
    kasiafrychel.pl
%ul
  %li Fotografia ślubna (przygotowania, ślub, wesele oraz plener)
  %li Zdjęcia noworodków, niemowląt, dzieci (studio, plener)
  %li Sesje ciążowe
  %li Sesje narzeczeńskie
  %li Fotografia portretowa
  %li Fotografia imprez okolicznościowych (chrzciny, roczki, komunie, itp.)
%p Oferuję profesjonalną obróbkę zdjęć, przystępne ceny oraz krótki czas realizacji.
%p Jestem otwarta na wszelkie propozycje oraz sugestie.
