%h2
  Witam na stronie -
  %span.red
    kasiafrychel.pl
%ul.no_bullets
  %li Fotografia ślubna (przygotowania, ślub, wesele oraz plener)
  %li Zdjęcia noworodków, niemowląt, dzieci (studio, plener)
  %li Sesje ciążowe
  %li Sesje narzeczeńskie
  %li Fotografia portretowa
  %li Fotografia imprez okolicznościowych (chrzciny, roczki, komunie, itp.)
.wihajster
%ul.no_bullets
  %li Oferuję profesjonalną obróbkę zdjęć, przystępne ceny oraz krótki czas realizacji.
