%ul
  %li Fotografia ślubna (przygotowania, ślub, wesele oraz plener)
  %li Fotografia studyjna i plenerowa noworodków, niemowląt oraz dzieci
  %li Fotografia ciążowa
  %li Fotografia iprez okolicznościowych (chrzciny, roczki, komunie, itp.)
%p Oferuję konkurencyjne ceny oraz profesjonalne podejście do każdego klienta.
%p Serdecznie zapraszam do zapoznania się z moją galerią fotografii.
