%h2.upcase
  Infor
  %span.red> macje

%dl
  %dt.upcase Fotografia ślubna
  %dd Oferta fotografii ślubnej obejmuje:
  %dd przygotowania,
  %dd błogosławieństwo,
  %dd fotoreportaż z ceremonii ślubnej
  %dd Wesele - część oficjalna (przywitanie, pierwszy taniec, tort, oczepiny - przy wcześniejszym uzgodnieniu)
  %dd Zdjęcia ślubne plenerowe - wykonywane w innym dniu.
  %dd Klienci otrzymują około 100 fotografii po profesjonalnej obróbce komputerowej na płycie DVD
  %dd Album ślubny z 30 fotografiami

%dl
  %dt.upcase Fotografia dziecięca
  %dd Sesja zdjęciowa dzieci obejmuje:
  %dd fotografie studyjne wykonywane u Państwa w domu
  %dd i/lub
  %dd fotografie wykonane we wskazanym przez Państwa plenerze
  %dd Klienci otrzymują płytę DVD z około 50 fotografiami po profesjonalnej obróbce komputerowej
  %dd Do sesji zdjęciowej należy dziecko odpowiednio przygotować.
  %dd Dziecko powinno być wypoczęte oraz nakarmione. Należy przygotować ulubione zabawki dziecka.
  %dd Na zdjęciach najlepiej wychodzą żywe kolory - więc takie powinny być ubranka dziecka.
  %dd Mile widziane są wszelkiego rodzaju przebrania, nakrycia głowy, spineczki, okularki.

%dl
  %dt.upcase Fotografia ciążowa
  %dd Sesja zdjęciowa ciążowa obejmuje fotografie studyjne lub plenerowe czarno-białe oraz w kolorze.
  %dd Klienci otrzymują płytę DVD z około 20 fotografiami po profesjonalnej obróbce komputerowej.
  %dd Idea zdjęć jest zależne od miesiąca ciąży. najlepszy efekt to 7,8 oraz 9 miesiąc.
  %dd Do sesji najlepiej przygotować sobie odzież ciążową, czarny biustonosz.
  %dd Mile widziane są też szale, buciki niemowlęce, kapelusze.
  %dd Sesja ciążowa może również odbywać się z partnerem.
