!!! strict
%html
  %head
    %meta{:content=> "text/html; charset=utf-8"}
    %link{:href=>"/stylesheets/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
    %title= "Kasia Frychel - fotografia"

  %body
    %div{:id => "container"}
      #nav
        %ul
          %li
            %a{:href => "/"}
              Strona
              %span.red Główna
          %li
            %a{:href => "/kontakt"} Kontakt
          %li
            %a.red{:href => "/galeria"} Galeria
          %li
            %a{:href => "/informacje"} Informacje
      #logo
      #content
        = yield
