!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "keywords", :content => "fotografia, kasia, katarzyna, frychel, wnętrzak, gilowice, zdjęcia, sesja ciążowa, sesja ślubna, sesja dziecięca"}
    %meta{:name => "description", :content => "Kasia Frychel - wykonywanie zdjęć oraz ich profesjonalna obróbka. Fotografia dziecięca, ślubna, ciążowa. Przystępne ceny oraz krótki czas realizacji"}
    %link{:href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Merriweather|Philosopher', :rel => 'stylesheet', :type => 'text/css'}
    %title Kasia Frychel - fotografia

  %body
    #container
      %nav
        %ul
          %li
            %a{:href => "/"} Strona Główna
          %li
            %a.red{:href => "/kontakt"} Kontakt
          %li
            %a{:href => "/galeria"} Galeria
          %li
            %a.red{:href => "/informacje"} Informacje
          %li
            %a{:href => "/cennik"} Cennik
      #logo
      %section#content
        - if @flash
          .flash
            = @flash
        = yield
      %footer
        &copy; 2011 Katarzyna Frychel-Wnętrzak
    = haml :"_google_analytics"
