!!! strict
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "keywords", :content => "fotografia, kasia, katarzyna, frychel, wnętrzak, gilowice, zdjęcia, sesja ciążowa, sesja ślubna, sesja dziecięca"}
    %meta{:name => "description", :content => "Kasia Frychel - wykonywanie zdjęć oraz ich profesjonalna obróbka. Fotografia dziecięca, ślubna, ciążowa. Przystępne ceny oraz krótki czas realizacji"}
    %link{:href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %title= "Kasia Frychel - fotografia"

  %body
    %div{:id => "container"}
      #nav
        %ul
          %li
            %a{:href => "/"}
              Strona
              %span.red Główna
          %li
            %a{:href => "/kontakt"} Kontakt
          %li
            %a.red{:href => "/galeria"} Galeria
          %li
            %a{:href => "/informacje"} Informacje
          %li
            %a.red{:href => "/cennik"} Cennik
      #logo
      #content
        - if @flash
          .flash
            = @flash
        = yield
