%h2.upcase
  Cennik
  %span.red usług

%dl
  %dt.upcase Fotografia ślubna
  %dd.last
    Do państwa wyboru przygotowałam pakiety ślubne zdjęciowe. |
    Liczba zdjęć, które zostaną wykonane podana jest w przybliżeniu, gdyż ilość zdjęć jest uzależniona od czynników takich jak: |
    dynamika ślubu i wesela, liczba gości itp. |
    Każdy z pakietów można dowolnie modyfikować po wcześniejszym uzgodnieniu i ustaleniu kosztów.
  %dt Oferta standardowa - 800zł
  %dd
    %ul
      %li wykonanie zdjęć w kościele
      %li życzenia pod kościołem
      %li zdjęcie grupowe
      %li wykonanie zdjęć na weselu (część oficjalna – powitanie, toast, tort)
      %li wykonanie zdjęć w plenerze – najlepiej w innym dniu niż dzień ślubu
  %dd
    Otrzymujecie Państwo:
    %ul
      %li około 120 zdjęć na płycie CD/DVD. Wszystkie zdjęcia są selekcjonowane i poddawane obróbce komputerowej
      %li album z około 30 fotografiami w dowolnym formacie (do 15x20)
  %dt Oferta poszerzona - 1000 zł
  %dd
    %ul
      %li obejmuje ofertę standardową
      %li krótka sesja narzeczeńska
      %li przygotowania przedślubne
      %li błogosławieństwo
  %dd
    Otrzymujecie Państwo:
    %ul
      %li około 120 zdjęć na płycie CD/DVD. Wszystkie zdjęcia są selekcjonowane i poddawane obróbce komputerowej
      %li album z około 30 fotografiami w dowolnym formacie (do 15x20)
  %dt Tylko kościół - 300 zł
  %dd
    %ul
      %li zdjęcia reportażowe w kościele oraz z życzeń + zdjęcie grupowe
  %dd
    Otrzymujecie Państwo:
    %ul
      %li około 30 zdjęć na płycie CD/DVD. Wszystkie zdjęcia są selekcjonowane i poddawane obróbce komputerowej
      %li album z około 20 fotografiami w dowolnym formacie (do 15x20)
  %dt Tylko plener - 300 zł
  %dd
    %ul
      %li zdjęcia plenerowe w ustalonym terminie przez Młodą Parę w kilku wybranych sceneriach
  %dd
    Otrzymujecie Państwo:
    %ul
      %li około 50 zdjęć na płycie CD/DVD. Wszystkie zdjęcia są selekcjonowane i poddawane obróbce komputerowej
      %li album z około 30 fotografiami w dowolnym formacie (do 15x20)
  %dt Tylko wesele - 500 zł
  %dd
    %ul
      %li zdjęcia reportażowe z zabawy weselnej do godz. 1 w nocy
  %dd
    Otrzymujecie Państwo:
    %ul
      %li około 80 zdjęć na płycie CD/DVD. Wszystkie zdjęcia są selekcjonowane i poddawane obróbce komputerowej
      %li album z około 30 fotografiami w dowolnym formacie (do 15x20)

  %dt.upcase Fotografia dziecięca
  %dd Sesja zdjęciowa studyjna – 200zł (około 50 zdjęć)
  %dd Sesja zdjęciowa plenerowa – 100zł (około 50 zdjęć)
  %dd Sesja rodzinna – 100zł (około 20 zdjęć)
  %dd.last
    Pakiet fotografii dziecięcej (studio, plener oraz sesja rodzinna) – 300zł (około 100 zdjęć)
  %dt.upcase Fotografia ciążowa
  %dd Sesja zdjęciowa studyjna – 100zł (około 40 zdjęć)
  %dd Sesja plenerowa - 100zł (około 40 zdjęć)
  %dd Pakiet ciążowy (studio oraz plener) – 160zł (około 80 zdjęć)

Na specjalne życzenie oraz za dodatkową opłatą istnieje możliwość zamówienia fotoksiążki, obrazu z państwa zdjęciem lub innych atrakcji fotograficznych.
%br
W przypadku innych zamówień (sesje narzeczeńskie, imprezy – chrzciny, roczki, komunie, itp.) proszę o email z prośbą o wycenę.